body {
  background-color: #f2bae8;
}
header {
    font-family: 'Mulish';
    font-size: 50px;
    font-style: normal;
    letter-spacing: 0.2px;
    text-align: left;
    line-height: normal;
    color: #0f4e6e;
}
.square {
  background-color: #0f4e6e;
  width: 70%;
  height: 40vw;
  margin-left: 13%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: 2%;
  box-shadow: -2rem 2rem 5rem #993889;

}
.content1 {
  position: absolute;
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 1.5vw;
  font-style: normal;
  letter-spacing: 0.5px;
  text-align: center;
  line-height: normal;
  color: #FFFFFF;
  margin-left: 2%;
  margin-right: 20%;
  margin-bottom: 5%;
  margin-top: 1%;
}
.content3 {
  position: absolute;
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 1.6vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: normal;
  color: #FFFFFF;
  margin-left: 3%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 35%;
}


.navBar {
    text-decoration: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2bae8;
    display: flex;
    align-items: center;
    letter-spacing: 0.2px;
    justify-content: space-between;
}

li {
    float: right;
}
ul {
    list-style-type: none;  
}
li a {
    color: #0F4E6E;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Mulish';
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 0.2px;
    }
li a:hover {
    background-color: #FFFFFF ;
   
}
.responsive {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: auto;
}
.overlay1 {
  margin-left: 55%;
  margin-right: 50%;
  margin-bottom: 5%;
  margin-top: 5%;
  width: 40%;
  height: auto;
}
.overlay2 {
  margin-left: 25%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 11%;
  width: 50%;
  height: auto;
  box-shadow: 2rem 1rem 3rem #ffffff;
}
.pic1 {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  width: 20%;
  height: auto;
}
h4 {
  font-family: 'Mulish';
  font-size: 3vw;
  margin-left: 2%;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: left;
  line-height: normal;
  color: #0f4e6e;
}
h6 {
  font-family: 'Mulish';
  font-size: 3vw;
  margin-left: 2%;
  margin-top: -4%;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: left;
  line-height: normal;
  color: #0f4e6e; 
}
.voidHead {
  font-family: 'Mulish';
  font-size: 3vw;
  margin-left: 10%;
  margin-top: 1%;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: left;
  line-height: normal;
  color: #0f4e6e;   
}
.bhamHead {
  font-family: 'Mulish';
  font-size: 3vw;
  margin-left: 55%;
  margin-top: 0%;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: left;
  line-height: normal;
  color: #0f4e6e;   
}
.title1 {
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 2vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 140%;
  color: #FFFFFF;
  margin-left: 24%;
  margin-right: 6%;
  margin-bottom: 5%;
  margin-top: 2.5%;  
}
.title2 {
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 2vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 140%;
  color: #FFFFFF;
  margin-left: 14%;
  margin-right: 6%;
  margin-bottom: 5%;
  margin-top: 2.5%;  
}
.title3 {
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 2vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 140%;
  color: #FFFFFF;
  margin-left: 19%;
  margin-right: 6%;
  margin-bottom: 5%;
  margin-top: 2.5%;  
}
.title4 {
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 2vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 140%;
  color: #FFFFFF;
  margin-left: 5%;
  margin-right: 6%;
  margin-bottom: 5%;
  margin-top: 2.5%;  
}
h8 {
  font-family: 'Mulish';
  font-size: 3vw;
  margin-left: 50%;
  margin-top: -29%;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: left;
  line-height: normal;
  color: #0f4e6e; 
}

h9 {
  font-family: 'Mulish';
  font-size: 3vw;
  margin-left: 2%;
  margin-top: 6%;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: left;
  line-height: normal;
  color: #0f4e6e; 
}
.exp1 {
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: .9vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 160%;
  color: #FFFFFF;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  margin-top: -5%;
}
.exp2 {
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: .95vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 180%;
  color: #FFFFFF;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  margin-top: -4%;
}
.exp3 {
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 1vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 175%;
  color: #FFFFFF;
  margin-left: 5%;
  margin-right: 7%;
  margin-bottom: 5%;
  margin-top: -4%;
}
.exp4 {
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 1vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 200%;
  color: #FFFFFF;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 5%;
  margin-top: -5%;
}

.squareVoid {
    background-color: #0f4e6e;
    width: 40%;
    height: 20vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 2%;
    box-shadow: -2rem 2rem 5rem #993889;
  
  }
.square4 {
  background-color: #0f4e6e;
    width: 40%;
    height: 20vw;
    margin-left: 55%;
    margin-right: 5%;
    margin-bottom: 200%;
    margin-top: -25.3%;
    box-shadow: -2rem 2rem 5rem #993889;
  
  }
  .square5 {
    background-color: #0f4e6e;
    width: 40%;
    height: 20vw;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: -197%;
    box-shadow: -2rem 2rem 5rem #993889;
  }

  .square6 {
    background-color: #0f4e6e;
      width: 40%;
      height: 20vw;
      margin-left: 55%;
      margin-right: 5%;
      margin-bottom: 5%;
      margin-top: -25.5%;
      box-shadow: -2rem 2rem 5rem #993889;
  }

.square1 {
    background-color: #0f4e6e;
    width: 45%;
    height: 15vw;
    margin-left: 4%;
    margin-right: 5%;
    margin-bottom: 5%;
    margin-top: 3.6%;
    box-shadow: -2rem 3rem 5rem #993889;
  
}
.square2 {
  background-color: #0f4e6e;
    width: 45%;
    height: 15vw;
    margin-left: 52%;
    margin-right: 10%;
    margin-bottom: 5%;
    margin-top: -20.2%;
    box-shadow: 2rem 2rem 5rem #993889;
  
  }
.eucS {
  background-color: #0f4e6e;
  width: 45%;
  height: 15vw;
  margin-left: 4%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: -4%;
  box-shadow: -2rem 2rem 5rem #993889;
} 
.p1squ {
  background-color: #0f4e6e;
  width: 45%;
  height: 15vw;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  margin-top: -4%;
  box-shadow: -2rem 2rem 5rem #993889;
} 
.p2sq {
  background-color: #0f4e6e;
  width: 45%;
  height: 15vw;
  margin-left: 52%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: -36.4%;
  box-shadow: -2rem 2rem 5rem #993889; 
}
.p3sq {
  background-color: #0f4e6e;
  width: 45%;
  height: 15vw;
  margin-left: 52%;
  margin-right: 5%;
  margin-bottom: 5%;
  margin-top: -4%;
  box-shadow: -2rem 2rem 5rem #993889; 
}
  
p {
  position: absolute;
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 1vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: left;
  line-height: 175%;
  color: #FFFFFF;
  margin-left: 2%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 2.5%;
}
.djtitle {
  position: absolute;
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 2vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 200%;
  color: #FFFFFF;
  margin-left: 20%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 1%; 
}
.text3 {
  position: absolute;
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 1.2vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 150%;
  color: #FFFFFF;
  margin-left: 2%;
  margin-right: 6%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.euctitle {
  position: absolute;
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 2vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 200%;
  color: #FFFFFF;
  margin-left: 19%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 1%; 
}
.minetitle {
  position: absolute;
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 2vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 200%;
  color: #FFFFFF;
  margin-left: 16%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 1%; 
}
.amongtitle {
  position: absolute;
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 2vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 200%;
  color: #FFFFFF;
  margin-left: 18%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 1%; 
}

.text4 {
  position: absolute;
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 1.2vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 150%;
  color: #FFFFFF;
  margin-left: 3%;
  margin-right: 55%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.text20 {
  position: absolute;
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 1.1vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 130%;
  color: #FFFFFF;
  margin-left: 2%;
  margin-right: 6%;
  margin-bottom: 5%;
  margin-top: 4.7%;
}
.text21 {
  position: absolute;
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 1.2vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: center;
  line-height: 130%;
  color: #FFFFFF;
  margin-left: 3%;
  margin-right: 55%;
  margin-bottom: 5%;
  margin-top: 5%;
}
.text2 {
  position: absolute;
  justify-content: center;
  display: inline-block;
  font-family: 'Mulish';
  font-size: 1vw;
  font-style: normal;
  letter-spacing: 0.2px;
  text-align: right;
  line-height: 250%;
  color: #FFFFFF;
  margin-left: 2%;
  margin-right: 10%;
  margin-bottom: 5%;
  margin-top: 3%;
}
h5 {
  font-family: 'Mulish';
  font-size: 3vw;
  font-style: normal;
  margin-right: 2%;
  margin-top: -1%;
  letter-spacing: 0.2px;
  text-align: right;
  line-height: normal;
  color: #0f4e6e;
}
.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.row2 {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.column {
  flex: 25%;
  max-width: 50%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .column {
    flex: 50%;
    max-width: 50%;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    flex: 100%;
    max-width: 100%;
  }
}





    